.search-page {
  padding: 30px;
  margin: 60px auto;
}

.recent-tag {
  background: #eee;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 20px;
  margin: 10px 0;
  font-size: 14px;
}

.banner img{
  width: 98%;
  height: auto;
  display: block;  
  object-fit: cover;
  border-radius: 0;
  margin-bottom: 10px;
  margin-left: 10px;
}

.Select-Item{
  width: 100%;
  display: grid;
  grid-area: auto;
  padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1.25rem;
  overflow-x: hidden;
  grid-template-columns: repeat(4,minmax(0,1fr));

   
}

.Item-Sec{
  position: relative;
    cursor: pointer;
    margin: 0.5rem;
    border-radius: 0.5rem;
    max-width: 300px;
    
    border: 1px solid #e6e8ed;
    overflow: hidden;
}

.Item-Sec button{
  padding: 0.25rem;
  border-radius: 6px;
  z-index: 10;
  top: 0.5rem;
  right: 0.5rem;
  position: absolute;
  cursor: pointer;
  border: 1px solid rgb(255, 50, 105);
  background-color: white;
  display: flex;
  align-items: center;
}

.Item-Sec img{
width:100%;
color: transparent;
object-fit: contain;
padding: 1.175rem;
border-radius: 0.75rem;
overflow: hidden;
aspect-ratio: 1/1;
position: relative;
}

.Cover{
    padding-top: 2rem;
    padding: 1rem;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    display: flex;
    bottom: 0;
    position: absolute;
    background-color: hsla(0, 0%, 23%, 0.281);
}

.Left-Side{
  width: 50%;
}
.Left-Side h6{
 text-overflow: ellipsis ;
 overflow: hidden;
white-space: nowrap;
margin: 0;
color: #fcffff;
font-size: 12px;
}

.Left-Side p{
color: hsla(0,0%,100%,.8);
margin: 0;
font-size: 10px;
font-weight: 400;
color: #fcffff;
}

.Right-Side{
  width: 40% ;
  text-align:  right;
}

.Right-Side h6{
text-overflow: ellipsis ;
 overflow: hidden;
white-space: nowrap;
margin: 0;
color: #fcffff;
font-size: 14px;
color: #fcffff;
}

.Right-Side p{
text-decoration-line: line-through;
color: hsla(0,0%,100%,.8);
margin: 0;
font-size: 10px;
font-weight: 400;
color: #fcffff;
}